p {
    font-family: sans-serif, serif;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-family: 'Courier Prime';
    
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
